:root {
    --primary: #4b2e83;
    --secondary: #6a4c93;
    --fill: #f8f1f7;
    --fill2: #c7d0e6;
    --base: #f3f7f9;
    --accent: #f582ae;
    --text: #001858;
    --text-soft: #172c66;
    --white: #fefefe;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--base);
    color: var(--text);
}

h1, h2, h3 {
    font-family: "Satisfy", cursive;
}

h2{
    text-align: center;
    font-size: 4rem;
}

h3 {
    text-align: center;
    background: var(--primary);
    color: var(--base);
    font-size: 3rem;
}

header {
    padding: 10px;
    background: var(--primary);
    color: var(--base);
    text-align: center;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu {
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--base);
    cursor: pointer;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖";
}

.navigation {
    display: flex;
    background: var(--secondary);
    padding: 1rem;
}
nav {
    display:flex;
}

.navigation a {
    color: var(--base);
    text-decoration: none;
    margin-right: 1rem;
}

.navigation a:hover {
    color: var(--accent);
}

.navigation.open {
    display: block;
}

.figures {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
#temple-cards section {
    background-color: var(--white);
    border: 2px solid var(--secondary);
    border-radius: 10px;
    padding: 10px;
}

#temple-cards img {
  width: 800px;
  height: 500px;      
  object-fit: cover;  
  border-radius: 6px; 
}

#temple-cards {
display: grid;
padding: 16px;
justify-items: center;
}

figure img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.footer {
    background: var(--secondary);
    color: var(--base);
    min-height: 80px;
    text-align: center;
    padding: 5px;
}